@model IEnumerable<Texi_Booking.Models.Taxi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Taxi</a>
    <a asp-action="AddDriver" asp-controller="Admin">Add Driver</a>
    <a asp-action="AddCity" asp-controller="Admin">Add City</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Taxiname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxinumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxiDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentPerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Taxiname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxinumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxiDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPerKm)
            </td>
            <td>
                <img style="width:400px; " src="data:image;base64,@Convert.ToBase64String(item.image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
